/*
Reactor Sistemas
07-05-2021
http://www.reactorsistemas.online
*/

body {
  background: #fff;
  font-family: "lane_-_narrowregular", sans-serif;
  line-height: 25px;
}

@font-face {
  font-family: "lane_-_narrowregular";
  src: url("../fonts/LANENAR_-webfont.eot");
  src: url("../fonts/LANENAR_-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LANENAR_-webfont.woff") format("woff"),
    url("../fonts/LANENAR_-webfont.ttf") format("truetype"),
    url("../fonts/LANENAR_-webfont.svg#lane_-_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

h2,
h3 {
  font-weight: bolder;
  color: #dc5034;
}

hr {
  border-color: #f2af00;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}
img:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* navigation */
.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  margin: 0 !important;
}

.navbar-default .navbar-brand {
  background: #dc5034;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  height: 90px;
  margin: 0;
  padding: 20px 20px 40px 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.navbar-brand:hover,
.navbar-brand:clicked {
  background: #dc5034;
}
.navbar-default .navbar-nav li a {
  border-right: 1px solid #ddd6d6;
  color: #4db6ac;
  font-weight: bolder;
  padding-right: 30px;
  padding-left: 30px;
  line-height: 60px;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2af00;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #dc5034;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dc5034;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #dc5034;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* home section */

#home p {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgb(68, 67, 67);
}

#home h1 {
  color: #f2af00;
  font-weight: 300;
  padding-bottom: 10px;
}
#home h2 {
  line-height: 10px;
}

#home .btn {
  background: #dc5034;
  border-radius: 5px;
  border-color: transparent;
  color: #444;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 14px;
  width: 250px;
  padding: 20px 10px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

#home .btn:hover {
  background: #cc4f36;

  color: #fff;
}

#btn-home-2 {
  background-color: #5ae4d6 !important;
}

#btn-home-3 {
  background-color: chartreuse !important;
}

#btn-home-4 {
  background-color: darkgoldenrod !important;
}

#btn-home-5 {
  background-color: deeppink !important;
}

/* service section */
#service {
  padding-top: 100px;
  padding-bottom: 80px;
}
#service h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 20px;
}
#service .fa {
  border-top: 3px solid #f2af00;
  border-bottom: 3px solid #dc5034;
  border-radius: 50%;
  font-size: 32px;
  color: #dc5034;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
}

/* about section */
#about {
  padding-top: 60px;
  padding-bottom: 80px;
}
#about h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#about img {
  border: 1px solid #666;
  padding: 10px;
}
#about h4 {
  padding-bottom: 10px;
  font-weight: bold;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 100px;
}
#team h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
#team h4 {
  padding-bottom: 40px;
}
#team .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#team img {
  border: 1px solid #666;
  padding: 15px;
}

h4 {
  font-weight: bold;
}
/* portfolio section */
#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
#portfolio h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
/* FILTER CSS */
.filter-wrapper {
  width: 100%;
  margin: 0 0 24px 0;
  overflow: hidden;
  text-align: center;
}
.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}
.filter-wrapper li a {
  color: #999999;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
  background: #f2af00;
  border-color: transparent;
  color: #ffffff;
}

/* ISOTOPE BOX CSS */
.iso-box-section {
  width: 100%;
}
.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}
.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

.section-heading {
  text-align: center;
  margin-top: 125px;
}

.section-heading span {
  font-size: 30px;
  display: block;
  margin: 0px 0px 20px 0px;
  color: #cc4f36;
  font-weight: bolder;
}

.section-heading h2 {
  margin-bottom: 0px;
  margin-top: 14px;
  font-size: 23px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

.blue-button a {
  display: inline-block;
  border-radius: 5px;
  background-color: #4883ff;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding: 10px 16px;
  text-decoration: none;
  transition: all 0.2s;
}

.blue-button a:hover {
  background-color: #cc4f36;
}

/* pricing-table section */
section.pricing-tables .table-item {
  text-align: center;
  border: 0.5px solid #cac9c9;
  background-color: #eeeeee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 0px 40px 0px;
}

section.pricing-tables .table-item .top-content {
  background-color: #4883ff;
  padding: 25px 30px 20px 30px;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

section.pricing-tables .table-item .top-content h4 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0px;
  margin-bottom: 0px;
}

section.pricing-tables .table-item .top-content h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

section.pricing-tables .table-item ul {
  margin: 30px 0px !important;
}

section.pricing-tables .table-item.item1 ul {
  margin: 30px 0px 120px 0px !important;
}

section.pricing-tables .table-item ul li {
  margin: 10px 0px;
  line-height: 20px;
}

section.pricing-tables .table-item ul li p {
  padding-right: 15px;
}

::marker {
  color: #cc4f36;
}

/* contact section */

label {
  float: left;
  color: #cc4f36;
  margin-bottom: 0;
}

#contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

#contact h2 {
  display: inline-block;
  padding: 10px 20px 10px 10px;
}

#contact .col-md-4 h2 {
  border-right: none;
}

#contact-form {
  margin-top: 30px;
}

#contact .form-control {
  border: 1px solid rgb(173, 169, 169);
  border-radius: 3px;
  box-shadow: none;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  background-color: transparent;
  color: #000;
}

#contact .form-control:focus {
  background-color: #9fd6d1;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  background: #5ae4d6;
  font-size: 25px;
  border-radius: 5px;
  color: rgb(49, 45, 45);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  border: none;
  width: 100%;
  float: right;
}
#contact input[type="submit"]:hover {
  background: #5ae4d6;
  border-color: transparent;
  color: #000;
  font-weight: bolder;
}

.form-control::-moz-placeholder {
  color: #202020;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #202020;
}
.form-control::-webkit-input-placeholder {
  color: #202020;
}

/* footer section */

.direccion {
  background-color: #000;
  border-radius: 5px;
  height: 56vh;
  line-height: 17px;
  text-align: left;
  padding: 10px 10px 10px 20px;
}

#direccion-h2 {
  text-align: center;
  border-right: none;
}

.direccion > p {
  color: rgb(170, 165, 165);
}

.direccion i {
  line-height: 30px;
}

.direccion span {
  color: rgb(199, 193, 193);
}

.fa.fa-phone::before {
  color: #cc4f36;
}

.fa.fa-whatsapp::before {
  color: green;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
}
footer h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer p {
  line-height: 20px;
  font-size: 16px;
  color: #cec5c5;
}

.copyright p {
  color: #666;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}

/* copyright section */
.copyright {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

/* scrolltop section */
.go-top {
  background-color: #dc5034;
  border-radius: 5px;
  font-size: 20px;
  top: 5em;
  right: 1em;
  color: #fff;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
.go-top:hover {
  background-color: #d4563d;
  color: black;
}

/*slider owl */

.slider:nth-child(7) {
  background-color: blueviolet;
}

.slider .container {
  width: 100%;
}

.slider .owl-dots {
  position: absolute;
  top: 575px;
  width: 100%;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right; 
  height: 100%;
  color: #fff;
  
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
 
  height: 650px;
}

.slider .item-first {
  background-image: url(../images/home-bg-cut2.jpg);
}

.slider .item-second {
  background-image: url(../images/slider100.jpg);
}

.slider .item-third {
  background-image: url(../images/slider104.jpg);
}

.slider .item-fourth {
  background-image: url(../images/slider102.jpg);
}

.slider .item-fith {
  background-image: url(../images/slider103.jpg);
}

/* fin de slider owl /*



























/* media 960 */
@media only screen and (max-width: 980px) {
  .navbar-default .navbar-nav {
    background-color: #4db6ac;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
    text-align: center;
    color: #cc4f36;
    font-weight: 700;
  }

  .go-top {
    float: right;
  }

  .table-item {
    margin-bottom: 30px;
  }
}

/* media 960 */
@media only screen and (min-width: 760px) {
}

/* media 360 */
@media only screen and (max-width: 360px) {
  .slider .caption p {
    display: none;
  }

  #team h4 {
    padding-bottom: 30px;
  }

  .slider .item-second {
    background-image: url(../images/slider100-cut.jpg);
  }

  .slider .item-third {
    background-image: url(../images/device360-5.jpg);
  }

  .slider .item-fourth {
    background-image: url(../images/device360-3.jpg);
  }

  .slider .item-fith {
    background-image: url(../images/device360-4.jpg);
  }
}

@media only screen and (max-width: 720px) {
  .slider .caption p {
    display: none;
  }

  #team h4 {
    padding-bottom: 30px;
  }

  .slider .item-second {
    background-image: url(../images/slider100-cut.jpg);
  }

  .slider .item-third {
    background-image: url(../images/device360-5.jpg);
  }

  .slider .item-fourth {
    background-image: url(../images/device360-3.jpg);
  }

  .slider .item-fith {
    background-image: url(../images/device360-4.jpg);
  }
}

/*FIN DE MEDIA QUERY */

#contact .form-control::placeholder {
  color: rgb(155, 150, 150);
}

.circulo {
  text-align: center;
}

#envelope {
  padding: 15px;
}

.texto-justificado {
  text-align: justify;
}

.h3-nosotros {
  margin-top: 0;
}
